<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748951137753-878bfb5t724a3nt8rf3dfli1h15kei9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748951137753-878bfb5t724a3nt8rf3dfli1h15kei9h</string>
	<key>API_KEY</key>
	<string>AIzaSyByPFT9EKLk3F5BsRucrccVHRCMu8mA6fg</string>
	<key>GCM_SENDER_ID</key>
	<string>748951137753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pdj.OrchardBase</string>
	<key>PROJECT_ID</key>
	<string>orchardbase</string>
	<key>STORAGE_BUCKET</key>
	<string>orchardbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748951137753:ios:9552c3a41a5bbadbe07dc8</string>
</dict>
</plist>